.container {
    overflow: auto;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;

    padding-left: $gutter;
    padding-right: $gutter;
}

.container__faq-page {
    max-width: 594px;
}
