.container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;

    padding-left: $gutter;
    padding-right: $gutter;
}

a {
    text-decoration: none;
    color: $black;
    padding: 8px;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    color: $grey--charcoal;
}
