<div class="footer section">
    <div class="container-footer">

        <div class="grid grid--center">

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>

            <div class="grid__item one-quarter footer-item">
                <a href="#">Item</a>
            </div>


        </div>
    </div>
</div>
