<div class="footer section">
      <div class="grid grid--center">

          <div class="grid__item one-whole">
              <p class="blurb">
                  Welcome to the emissary community. We hope you enjoy your stay.
              </p>
          </div>

          <div class="grid__item one-whole tablet--one-half contact-right">
              <p>Login</p>
              <p>Register</p>
          </div>

          <div class="grid__item one-whole tablet--one-half contact-left">
            <p>Something</p>
            <p>Else</p>
          </div>

          <div class="grid__item one-whole">
              <p class="blurb">emissary 2016</p>
          </div>

      </div>
</div>
