<!-- Navigation Menu and Header-->

<div class="navbar">
    <div class="container">
        <div class="grid grid--center">

            <div class="grid__item one-half">
                <div class="logo">
                    <div class="logo__item">
                        <img class="" src="static/img/temp/logo.png" /></img>
                    </div>

                    <div class="logo__item">
                        <a href="#!">New Zealand's own crowd delivery</a>
                    </div>
                </div>
            </div>


            <div class="grid__item one-half">
                <nav class="nav">
                    <!-- Desktop -->
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__item__content" href="#">Home</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Our Team</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Help</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Login</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Register</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
