.section__jumbotron {
    height: 80vh;
}

.jumbo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    .jumbo__wrapper__inner{
        display:inline;
    }

    img {
        max-width: 200px;
        width:100%;
    }

}

.btn__jumbo {
    align-self: center;
    width: 50%;
    text-align: center;
}
