.section__jumbotron {
    height: 80vh;
}

.jumbo__wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

.btn__jumbo {
    align-self: center;
    width: 50%;
    text-align: center;
}
