.button {
    border-radius: 6px;
    background: $primaryAccent;
    color: $white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    margin: 10px;

    &:hover {
        background: $primaryAccent--light;
        color: $white;
    }

    &:focus {
        outline: none;
    }
}
