.footer {
    text-align: center;

    background-color: $grey--lighter;
    color: $black;
    height: auto;

    p {
        font-size: 1.0em;
        margin: 0;
    }

    .contact-left {
        @include respond-to(tablet) {
            text-align: left;
        }
    }

    .contact-right {
        @include respond-to(tablet) {
            text-align: right;
        }
    }

    .blurb {
        max-width: 50%;
        margin: 0 auto;
        padding: 30px;
    }
}

.footer-item {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $grey--charcoal;
    }

}

.container-footer {
    max-width: 768px;
    margin: 0 auto;
    height: 100%;

    padding-left: $gutter;
    padding-right: $gutter;
}
