.footer {
    text-align: center;

    background-color: $light--grey;
    color: $black;

    p {
        font-size: 1.0em;
        margin: 0;
    }

    .contact-left {
        @include respond-to(tablet) {
            text-align: left;
        }
    }

    .contact-right {
        @include respond-to(tablet) {
            text-align: right;
        }
    }

    .blurb {
        max-width: 50%;
        margin: 0 auto;
        padding: 30px;
    }
}
