.navbar {
    height:10vh;
    // background-color: $grey--lighter;

    a {
        text-decoration: none;
        color: $grey--charcoal;
        padding: 8px;

        &:hover {
            text-decoration: underline;

        }
    }
}

.logo {
    display: flex;
    height: 100%;

    &__item {
        align-self: center;
        padding: 10px;
    }

    &__text {
        display: none;

        @include respond-to(tablet) {
            display: block;
        }
    }

}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav__list {
    align-self: center;

    .nav__item {
        display: inline;
    }
}
