.timer__wrapper {
  max-width: 600px;
  height: 150px;
  margin: 0 auto;
}

.timer__one-unit {
  height: 100%;
  width: 30%;
  display: inline-block;
}

.timer__digits-wrapper {
  background: $white;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timer__digits {
  background: $white;
  font-size: 4em;
}

.timer__label-wrapper {
  background: $primaryAccent;
  color: $white;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timer__label {
  font-size: 1em;
}
