{% extends "base.html" %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="page page--contact">
        <div class="container container--thin">
            <div class="heading__page">
                Talk to us!
            </div>

            <div class="heading__content">
                Send us feedback on the form below
            </div>

            <p>We would love to hear anything including bugs, feedback, features or what is working well. Thanks. =)</p>

            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send</button>
            </form>

        </div>
    </div>
{% endblock main-content %}
