{% extends "base.html" %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="page">
        <div class="container container--thin">
            <div class="heading__page">
                Add a single trip
            </div>

            <form role="form" action="" method="post">
                {% csrf_token %}
                <ol class="list--ordered">
                    <li class="list__item">
                        <div class="heading__content">Where are you headed?</div>
                        <p><label for="id_origin">Origin</label><input id="id_origin" maxlength="100" name="origin" type="text"></p>
                        <p><label for="id_destination">Destination</label><input id="id_destination" maxlength="100" name="destination" type="text"></p>
                    </li>

                    {% comment %}
                    <li class="list__item">
                        <div class="heading__content">Is this a one time trip or recurring on multiple days (e.g. a commute)</div>
                        <div class="trip-frequency-wrapper">
                            <div class="toggle-wrapper">
                                <input type="checkbox" class="dn" id="dn"/>
                                <label for="dn" class="toggle">
                                    <span class="toggle__handler">
                                    </span>
                                </label>
                            </div>
                        </div>
                    </li>
                    {% endcomment %}
                    {% verbatim %}
                    <li class="list__item">
                        <div class="heading__content">Choose a day and time</div>

                        <div id="app">

                            <div class="calendar__wrapper">

                                <div class="calendar__heading-row">
                                    <div v-if="currentMonth == 0"></div>
                                    <div class="left-arrow" v-on:click.prevent="currentMonth -= 1" v-if="currentMonth > 0" ></div>
                                    {{ timeData[currentMonth].month }} {{ timeData[currentMonth].year }}
                                    <div class="right-arrow" v-on:click.prevent="currentMonth += 1" v-if="currentMonth < totalMonths - 1"></div>
                                    <div v-if="currentMonth == totalMonths - 1"></div>
                                </div>

                                <div class="calendar__weekday-heading-row">
                                    <div class="calendar__weekday-heading">Su</div>
                                    <div class="calendar__weekday-heading">Mo</div>
                                    <div class="calendar__weekday-heading">Tu</div>
                                    <div class="calendar__weekday-heading">We</div>
                                    <div class="calendar__weekday-heading">Th</div>
                                    <div class="calendar__weekday-heading">Fr</div>
                                    <div class="calendar__weekday-heading">Sa</div>
                                </div>

                                <div v-for="i in Math.ceil(timeData[currentMonth].days.length / daysPerRow )" class="calendar__day-row">
                                    <template v-for="day in timeData[currentMonth].days.slice( (i-1) * daysPerRow, (i-1) * daysPerRow + daysPerRow)">
                                        <template v-if="day.placeholder">
                                            <input type="radio" name="day_picker" v-bind:id="day.id" class="weekday"/>
                                            <label v-bind:for="day.id" class="placeholder">{{ day.dayOfMonth }}</label>
                                        </template>
                                        <template v-if="!day.placeholder">
                                            <input type="radio" name="day_picker" v-bind:id="day.id" class="weekday"/>
                                            <label v-bind:for="day.id">{{ day.dayOfMonth }}</label>
                                        </template>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endverbatim %}

                </ol>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock main-content %}


{% block scripts %}
    <!-- Source -->
    <script type="text/javascript" src="/static/js/src/handleCalendar.js"></script>
{% endblock scripts %}
