{% extends "base.html" %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="page">
        <div class="container container--thin">
            <div class="heading__page">
                Add your trip
            </div>

            <form role="form" action="" method="post">
                {% csrf_token %}
                <ol class="list--ordered">
                    <li class="list__item">
                        <div class="heading__content">Where are you headed?</div>
                        <p><label for="id_origin">Origin</label><input id="id_origin" maxlength="100" name="origin" type="text"></p>
                        <p><label for="id_destination">Destination</label><input id="id_destination" maxlength="100" name="destination" type="text"></p>
                    </li>
                    <li class="list__item">
                        <div class="heading__content">Is this a one time trip or recurring on multiple days (e.g. a commute)</div>
                        <div class="trip-frequency-wrapper">
                            <div class="toggle-wrapper">
                                <input type="checkbox" class="dn" id="dn"/>
                                <label for="dn" class="toggle">
                                    <span class="toggle__handler">
                                    </span>
                                </label>
                            </div>
                        </div>
                    </li>

                    <li class="list__item">
                        <div class="heading__content">Choose a day and time</div>

                        <div class="weekDays-selector">
                            <div class="trip-frequency-wrapper">
                                <input type="checkbox" id="weekday-mon" class="weekday" />
                                <label for="weekday-mon">M</label>
                                <input type="checkbox" id="weekday-tue" class="weekday" />
                                <label for="weekday-tue">T</label>
                                <input type="checkbox" id="weekday-wed" class="weekday" />
                                <label for="weekday-wed">W</label>
                                <input type="checkbox" id="weekday-thu" class="weekday" />
                                <label for="weekday-thu">T</label>
                                <input type="checkbox" id="weekday-fri" class="weekday" />
                                <label for="weekday-fri">F</label>
                                <input type="checkbox" id="weekday-sat" class="weekday" />
                                <label for="weekday-sat">S</label>
                                <input type="checkbox" id="weekday-sun" class="weekday" />
                                <label for="weekday-sun">S</label>
                            </div>

                            <div class="trip-frequency-wrapper">
                                <input type="radio" name="day_picker" id="weekday-mon-radio" class="weekday" />
                                <label for="weekday-mon-radio">M</label>
                                <input type="radio" name="day_picker" id="weekday-tue-radio" class="weekday" />
                                <label for="weekday-tue-radio">T</label>
                                <input type="radio" name="day_picker" id="weekday-wed-radio" class="weekday" />
                                <label for="weekday-wed-radio">W</label>
                                <input type="radio" name="day_picker" id="weekday-thu-radio" class="weekday" />
                                <label for="weekday-thu-radio">T</label>
                                <input type="radio" name="day_picker" id="weekday-fri-radio" class="weekday" />
                                <label for="weekday-fri-radio">F</label>
                                <input type="radio" name="day_picker" id="weekday-sat-radio" class="weekday" />
                                <label for="weekday-sat-radio">S</label>
                                <input type="radio" name="day_picker" id="weekday-sun-radio" class="weekday" />
                                <label for="weekday-sun-radio">S</label>
                            </div>
                        </div>
                    </li>

                </ol>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock main-content %}
