{% extends "base.html" %}

{% block header %}
    {% include 'includes/_header.html' with color="white" %}
{% endblock %}

{% block main-content %}
    <div class="faq-page">
        <div class="container container__faq-page">

            <div class="heading__page">
                {{ heading }}
            </div>

            <ol class="faq-list">
                {% for faq in faqs %}
                    <li class="list__item">
                        <div class="heading__faq-question">
                            {{ faq.question }}
                        </div>
                        <p>{{ faq.answer|safe }}</p>
                    </li>
                {% endfor %}
            </ol>

        </div>
    </div>
{% endblock main-content %}
