{% extends "base.html" %}

{% block main-content %}


    {# Promote #}
    <div class="homepage-section-promote">
        <div class="container">
        </div>
    </div>



    {# Leaving Soon #}
    <div class="homepage-section-leaving-soon">
        <div class="container">
        </div>
    </div>



    {# Services #}
    <div class="homepage-section-services">
        <div class="container">
        </div>
    </div>



    {# Video #}
    <div class="homepage-section-video">
    </div>



    {# Statistics #}
    <div class="homepage-section-statistics">
        <div class="container">
        </div>
    </div>


{% endblock main-content %}
