{% extends "base.html" %}

{% block main-content %}

<section>
    <div class="section__jumbotron">
        <div class="container">

            <div class="grid grid--center">

                <div class="grid__item one-whole mobile--one-half">
                    <div class="jumbo__wrapper">
                        <div class="jumbo__wrapper__inner">
                            <img src="/static/img/temp/present.svg" />
                            <a href="#" class="btn blue btn__jumbo">Post a request</a>
                        </div>
                    </div>
                </div>

                <div class="grid__item one-whole mobile--one-half">
                    <div class="jumbo__wrapper">
                        <div class="jumbo__wrapper__inner">
                            <img src="/static/img/temp/truck.svg" />
                            <a href="#" class="btn blue btn__jumbo">I can deliver</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock main-content %}
