{% extends "base.html" %}

{% block main-content %}


    {# Jumbotron #}
    <div class="homepage-section-jumbotron"
        style="background-image: linear-gradient(to top right, rgba(1, 124, 157, 0.5), rgba(153, 204, 51, 0.5)), url('static/img/temp/image1.jpg');">

        <h1>Blah Blag ... Blah blah blah </h1>
        <p>Subtitle slogan</p>

    </div>



    {# Leaving Soon #}
    <div class="homepage-section-leaving-soon">
        <div class="container">
            <h1>Drivers Leaving Soon</h1>
            <div class="grid grid--center">

                <div class="grid__item one-whole tablet--one-half desktop--one-third">
                    {% include 'includes/_listing-tile.html' %}
                </div>

                <div class="grid__item one-whole tablet--one-half desktop--one-third leaving-soon-two">
                    {% include 'includes/_listing-tile.html' %}
                </div>

                <div class="grid__item one-whole tablet--one-half desktop--one-third leaving-soon-three">
                    {% include 'includes/_listing-tile.html' %}
                </div>

            </div>
        </div>
    </div>



    {# Services #}
    <div class="homepage-section-services">
        <div class="container">
            <div class="service-tile">
                <img src="static/img/temp/service0.png">
                <h3>Flexible</h3>
                <p>Rent a car only when you need it. By the hour, day or week.</p>
            </div>

            <div class="service-tile">
                  <img src="static/img/temp/service1.png">
                  <h3>Flexible</h3>
                  <p>Rent a car only when you need it. By the hour, day or week.</p>
              </div>

            <div class="service-tile">
                <img src="static/img/temp/service2.png">
                <h3>Flexible</h3>
                <p>Rent a car only when you need it. By the hour, day or week.</p>
            </div>
        </div>
    </div>



    {# Video #}
    <div class="homepage-section-video">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/foAAKw8zvOU?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>


    {# News #}
    <div class="homepage-section-news">
        <div class="container">
            <h1>Latest Blogs</h1>
            <div class="grid grid--center">

                <div class="grid__item one-whole tablet--one-half desktop--one-third">
                    {% include 'includes/_news-tile.html' with img="/static/img/temp/news0.png"%}
                </div>

                <div class="grid__item one-whole tablet--one-half desktop--one-third leaving-soon-two">
                    {% include 'includes/_news-tile.html' with img="/static/img/temp/news1.png"%}
                </div>

                <div class="grid__item one-whole tablet--one-half desktop--one-third leaving-soon-three">
                    {% include 'includes/_news-tile.html' with img="/static/img/temp/news2.png"%}
                </div>

            </div>
        </div>
    </div>



    {# Statistics #}
    <div class="homepage-section-statistics">
        <div class="container">
        </div>
    </div>


{% endblock main-content %}
